#main{
    height: 90vh;
    width: 100vh;
    background: #fff;
    display: flex;
}
#left{
    width: 50%;
    height: 100%;
    background: green;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #000;
    border-radius: 10px;
}
#content h1{
    font-size: 3vh;
}
#btn{
    background-color: red;
    gap: 10vh;
}
#right{
    width: 50%;
    height: 100%;
    background: magenta;
}