nav{
    background-color: #fff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #000000da;
}

nav > a{
    color: #000;
    font-family: cursive;
    font-size:1rem;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 400;

}